# Admin network IP
SENDER_ADMIN="192.168.101.101"
RECEIVER_ADMIN="192.168.101.101"
DUT_ADMIN="192.168.101.100"
REF_ADMIN=""

# LAB network IP and data
SENDER_LAB_IP="192.168.100.101"
RECEIVER_LAB_IP="192.168.102.101"

#netmap pkt-gen need these information:
SENDER_LAB_IF="ix0"
RECEIVER_LAB_IF="ix1"
DUT_LAB_IF_MAC_SENDER_SIDE="00:25:90:09:1b:66"
# source/dest IP and port can be modified
# Number of packet or packet size too
# Used for testing different value of flows as examples
: ${AF:="4"}
: ${SENDER_LAB_NET:="198.18.10.1:2001-198.18.10.20"}
: ${RECEIVER_LAB_NET:="198.19.10.1:2001-198.19.10.100"}
: ${PKT_TO_SEND:="80000000"}
# Netmap pkt size didn't include CRC (4 Bytes)
# RFC2544 ask to try with:
# 64, 128, 256, 512, 1024, 1280, 1518
# This mean for netmap pktgen:
# 60, 124, 252, 508, 1020, 1276, 1514
: ${PKT_SIZE:="60"}

SENDER_LAB_NET="198.18.10.1:2000-198.18.10.20"
RECEIVER_LAB_NET="198.19.10.1:2000-198.19.10.100"
PKT_TO_SEND="80000000"

#Timeout : Number of seconds / 5 to wait before declaring a problem for DUT rebooting process
REBOOT_TIMEOUT=50
NO_REBOOT=1

#Is DUT forwarding: Test command
IS_DUT_ONLINE_TARGET=${SENDER_ADMIN}
IS_DUT_ONLINE_CMD="ping -c 2 ${RECEIVER_LAB_IP}"

#Bench commands
# Removed -N, no idea what it did...
# Added -d and -s since it didn't seem to collect the packet data
RECEIVER_START_CMD="pkt-gen -f rx -i ${RECEIVER_LAB_IF} -w 4 -d ${RECEIVER_LAB_NET} -s ${SENDER_LAB_NET}"
RECEIVER_STOP_CMD="pkill pkt-gen"
# Removed -N, no idea what id did...
# -U did software UDP checksums because offload didn't work... see here:
#    https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=187149
SENDER_START_CMD="pkt-gen -f tx -i ${SENDER_LAB_IF} -n ${PKT_TO_SEND} -l ${PKT_SIZE} \
-d ${RECEIVER_LAB_NET} -D ${DUT_LAB_IF_MAC_SENDER_SIDE} -s ${SENDER_LAB_NET} \
-w 4 -U"
